@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,800,900&display=swap');
*
{
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Poppins';
}
body{
    background: lightcyan;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width:100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(0, 0,0,0.1);

}
.container .left_side{
    position: relative;
    background:darkblue;
    padding:40px;
}
.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profileText .imgBx{
    position: relative;
    width: 200px;
    height:200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBx img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
     object-fit: cover;
}
.profileText h2{
    color:aliceblue;
    font-size: 1.5em;
    margin-top:20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;

}
.profileText h2 span{
    font-size: 0.8em;
}
.contactInfo{
    padding-top: 40px;
}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight:600 ;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul{
    position: relative;
}
.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.container ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.contactInfo ul li .text {
    color:black; 
    font-weight: 300;
}
.contactInfo ul li .text a {
    color:black; 
    
}


.contactInfo ul li .span{
    color:#fff;
    font-weight: 300;
}

.contactInfo.education h5{
     color: #03a9f4;
     font-weight: 300;
}
.contactInfo.education h4:nth-child(2){
    color: black;;
    font-weight: 500;
}
.contactInfo.education h4{
    color:black;
    font-weight: 500;
}
.contactInfo.skill{
    color:black;
    font-weight: 500;
}
.contactInfo.certifications{
    color: #fff;;
    font-weight: 500;
}
.contactInfo.language .percent{
    position: relative;
    width:100%;
    height: 6px;
    background: black;
    display: block;
    margin-top: 5px;

}
.contactInfo.language .percent div{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    background:blue;
}
.container .right_side{
    position: relative;
    background: white;
    padding:40px;
}
.About{
    margin-bottom: 50px;
}
.About:last-child{
    margin-bottom: 0;
}
.title2{
    color: darkblue;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: black;
}
.right_side {
    padding: 40px;
}

.right_side .About {
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.right_side .About .title2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.right_side .About p {
    text-align: justify; 
    line-height: 1.6;
}

.left_side .contactInfo {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.left_side .contactInfo .title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.left_side .contactInfo ul {
    list-style: none;
    padding: 0;
}

.left_side .contactInfo ul li {
    margin-bottom: 10px;
}

.left_side .contactInfo ul li h5 {
    margin-bottom: 5px;
}
.left_side .contactInfo {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}
.about {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
  }
  .about h2 {
    color: black;
    text-align: center;
  }
  .about.project {
    background-color:white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 50px; }
    @media  (max-width:1000px){
        .container{
            margin: 10px;
            grid-template-columns: repeat(1,1fr);
        }
    }
        
    